.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
  display: none !important;
}

/*Header*/
#header-nav {
  background-color: #f6b319;
  border-radius: 0;
  border: 0;
}
#navbarsMenu li{
	text-align: center;	
	font-size: 1.1em;

}
#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: white;
  text-align: center;
}
#nav-list a:hover {
  background: #F0E68C;
  color: black;
}
#nav-list a span {
  font-size: 1.8em;
}
/*End Header*/


/*Home Page*/
#main-container > h2 {
	margin-bottom: 35px;
}

#main-container-row > div > div{	
	border: 1px solid;	
	height: 1000px;
	background-color: #F0FFFF;
	border-radius: 3px;	
	padding: 10px;
	overflow: hidden;
}

.col-sm-12, .col-12{
	margin-bottom: 50px;
}

#main-container-row a {
	color: black;
	text-decoration: underline;
	font-weight: bold;
}

/*End Home Page*/

/********** Large devices only **********/
@media (min-width: 992px){
  /* Home Page */
  #navbarsMenu a {
  	display: none;
  }
  /* End Home Page */
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  
  .visible-xs {
  display: block !important; 
  }

  #navbarsMenu a {
  	display: block;
  }

}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  /* Home Page */
  #navbarsMenu a {
  	display: none;
  }
  /* End Home Page */
}
